@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
  font-family: CustomFont;
  src: url("path_to_font_file.ttf");
}

body {
  font-family: CustomFont, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p {
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* left Section */

.left-section {
  width: 37%;
  background-image: url(images/signup_Image.png);
  background-color: rgba(242, 209, 132, 255);
  background-size: contain;
  background-position: 0px 240px;
  background-repeat: no-repeat;
}

.text {
  display: flex;
  flex-direction: column;
  width: 64%;
  margin-top: 8vmin;
  margin-left: 3vmin;
  padding: 10px;
  font-size: 22px;
  color: rgba(134, 98, 22, 255);
  letter-spacing: 0.3px;
  font-weight: bolder;
}
.dribbble {
  margin-bottom: 14px;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  color: rgba(168, 131, 59, 255);
  letter-spacing: 1.2px;
  line-height: 1.5;
}

/* right Section */

.right-section {
  width: 63%;
  height: 100vh;
}

.already-member {
  margin: 14px;
  text-align: right;
  margin-right: 21px;
  justify-content: right;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 6vmin;
  /* border: 1px solid black; */
}

.signup {
  margin-left: 20px;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 15px;
  margin: 5px;
  margin-left: 20px;
}

.name {
  display: inline-block;
  width: 45%;
  margin: 7px;
  margin-left: 0;
}

.name-group1 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 0;
}
.name-group2 {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  padding-right: 7px;
}

.name-group1 input,
.name-group2 input {
  font-size: 15px;
  background-color: rgba(128, 128, 128, 0.16);
  margin: 10px 0px 10px 0;
  padding: 10px;
  padding-left: 14px;
  border-radius: 5px;
  border: none;
}
.name-group2 input {
  background-color: rgb(255 0 0 / 20%);
  color: #d42929;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 5px;
}

.form-group input {
  font-size: 15px;
  background-color: rgba(128, 128, 128, 0.16);
  margin: 10px -6px;
  margin-left: 0px;
  padding: 11px;
  padding-left: 13px;
  border-radius: 5px;
  border: none;
}

.email,
.password {
  margin: 10px;
  margin-left: 0px;
  padding-right: 25px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 9px;
  gap: 10px;
  height: 50px;
  margin: 20px 0 20px 0;
}

#box {
  margin-top: -6px;
  margin-right: 5px;
  width: 17px;
  height: 28px;
  border: 1px solid rgba(128, 128, 128, 0.16);
}

.terms {
  width: 437px;
  margin-top: 0;
  margin-right: 5px;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.719);
}

.create-account {
  margin: 6px 0 20px 20px;
  width: 30vmin;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #e4289cee;
  border: none;
  border-radius: 8px;
}

/* .disabled-btn {
  margin: 6px 0 20px 20px;
  width: 30vmin;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #e4289cee;
  border: none;
  border-radius: 8px;
  opacity: 50%;
} */

.recaptcha-info {
  width: 325px;
  margin: 10px 5px 10px 20px;
  margin-right: 5px;
  font-size: 12px;
}

.redSpan {
  color: red;
  font-size: 13px;
}
.blueSpan {
  color: rgb(10, 10, 217);
}

.form label {
  font-weight: bold;
  height: 18px;
}

/* Media query for small screens (less than 768px) */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .text,
  .registration {
    width: 100%;
  }

  .name-group1,
  .name-group2 {
    width: 100%;
  }

  .name-group1 input,
  .name-group2 input {
    margin: 10px 18px 10px 0;
  }

  .form-group {
    margin-bottom: 5px;
  }
  .email,
  .password {
    padding-right: 42px;
  }
}

/* for max-width: 560px */
@media screen and (max-width: 560px) {
  .name {
    margin: 10px;
    display: block;
    width: 100%;
    margin-left: 0px;
    padding-right: 32px;
  }
  .name-group1 input,
  .name-group2 input {
    margin: 10px 10px 10px 9px;
  }
  .name-group1,
  .name-group2 {
    padding-left: 10px;
  }

  .email,
  .password {
    width: 100%;
  }

  .terms {
    width: 100%;
    height: 13vmin;
    overflow: scroll;
  }
  .terms p {
    font-size: 15px;
  }
  .recaptcha-info {
    width: 90%;
  }
  .text p {
    font-size: 5vmin;
  }
}

/* for max-width: 425px */

@media screen and (max-width: 425px) {
  .name label {
    padding: 0 0 0 11px;
  }

  .already-member {
    text-align: right;
    margin-right: 17px;
  }

  .terms {
    overflow: scroll;
  }

  .terms p {
    font-size: 13px;
  }

  .create-account {
    margin-left: 15vmin;
    font-size: 11px;
  }
}
